<h1 class="text-secondary text-center"><strong>PROSPECTS</strong> <span ><%= link_to "New prospect", new_contact_path, class:"f-6" %></span> </h1>
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col"><h2 class="text-primary"><%= @prospect %></h2></th>
      <th scope="col"><h2 class="text-warning"><%= @interested %></h2></th>
      <th scope="col"><h2 class="text-success"><%= @client %></h2></th>

    </tr>
  </thead>
    <tbody>
      <td><strong>Prospect</strong></td>
      <td><strong>Interested</strong></td>
      <td><strong>Client</strong></td>
    </tbody>
  </table>




<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Added by</th>
      <th scope="col">Conversations</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @contacts.each do |c| %>
      <tr>
      <td><%= c.email %></td>
      <td><%= c.name %></td>
      <td><%= c.number %></td>
      <td><%= c.status %></td>
      <td><%= c.date %></td>
      <td><%= c.user_email %></td>
      <td><%= c.conversations.count  %></td>
      <td><%= link_to "See more", contact_path(c) %> | <%= link_to "Edit",  edit_contact_path(c) %></td>
      </tr>

      <% end %>

    </tr>
  </tbody>
</table>
